<header>
    <title><%= error.status %> | <%= error.message %></title>
</header>
<%- include ('layouts/header') %>
<br><br>
<br><br>
<center>
<h1>We're lost in space</h1>
<br />
<h3><%= error.status %> | <%= error.message %></h3>
<br />
<a href="/">← Back to home</a>
</center>
<%- include ('layouts/footer') %>
