<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #d1d3d1;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
        }

        input[type='radio']:checked:after {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: #ffa500;
            content: '';
            display: inline-block;
            visibility: visible;
            border: 2px solid white;
        }
    </style>

    <link rel='stylesheet' href='stylesheets/home.css' />
    <link rel='stylesheet' href='stylesheets/chart.css' />
    <title>HOME</title>
</head>

<body>
    <!-- Narbar-->
    <%- include('../layouts/navbar') %>
    <!-- end of Narbar-->
<!-- LEFT -->
    <main>
        <div class="sidebar bg-light shadow">
            <div class="flex-shrink-0 p-3 " >
                <a  class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <span class="fs-5 fw-semibold"><i class='fas fa-user-astronaut' style='font-size:36px'></i> Profile</span>
                </a>
                
                    <div class="card ">
                        <div class="card-header">
                            <img src="https://www.pngitem.com/pimgs/m/236-2366651_transparent-student-icon-png-transparent-student-png-icon.png" class="img-thumbnail" >
                            
                            <div class="card-body">
                            <p class="card-text"><b><%= person.email%></b></p>
                            </div>
                        </div>
                        <div class=" card-header bg-light ">
                        </div>
                <thead>
                    <div class="card ">
                        <div class="card-header">
                            <svg height="32" width="25" viewBox="0 0 640 512">
                                <path d="M0 224v272c0 8.84 7.16 16 16 16h80V192H32c-17.67 0-32 14.33-32 32zm360-48h-24v-40c0-4.42-3.58-8-8-8h-16c-4.42 0-8 3.58-8 8v64c0 4.42 3.58 8 8 8h48c4.42 0 8-3.58 8-8v-16c0-4.42-3.58-8-8-8zm137.75-63.96l-160-106.67a32.02 32.02 0 0 0-35.5 0l-160 106.67A32.002 32.002 0 0 0 128 138.66V512h128V368c0-8.84 7.16-16 16-16h96c8.84 0 16 7.16 16 16v144h128V138.67c0-10.7-5.35-20.7-14.25-26.63zM320 256c-44.18 0-80-35.82-80-80s35.82-80 80-80 80 35.82 80 80-35.82 80-80 80zm288-64h-64v320h80c8.84 0 16-7.16 16-16V224c0-17.67-14.33-32-32-32z"/>
                            </svg><b> Class</b>
                                <% if (Object.keys(result).length != 0) { %>
                                    <br>
                                    <%= result[0].ClassName %> 
                                    <br>
                                    <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#Classjoin">
                                        <i class="fas fa-plus" style="font-size: 20px;;align-items: center;" ></i><b> Change Class</b>
                                    </button>
                                <% } else{ %>  
                                    <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#Classjoin">
                                        <svg width="17.5" height="20" style="font-size: 20px;;align-items: center;" viewBox="0 0 448 512">
                                            <path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/>
                                        </svg><b> Join Class</b>
                                    </button>
                                 <% } %>                               
                        </div>	
                </thead><br>
                <thead>
                    <div class="card ">
                        <div class="card-header">
                            <i class="far fa-sun" style="font-size: 20px;;align-items: center; " ></i><b> Recommend</b>

                            <% if (Object.keys(RecommendaResult).length !== 0 && RecommendaResult[0].RecommendCourse != "null" ) { %> <%# ถ้าเลือกวิธีแนะนำแล้ว %> 
                                <br>
                                <%= RecommendaResult[0].RecommendationType %> <%# วิธีแนะนำคือ %> 
                                <br>
                                
                                <% if (TicTacToePercent === 100 && Library_SystemPercent === 100 && RoshamboPercent === 100 && CalendarPercent === 100 && CalculatorPercent === 100 ) { %> <%# ถ้า Path ครบแล้ว %> 
                                    <p>คุณได้เรียนครบแล้ว!</p>
                                <% } else { %>
                                    <div class="row">
                                        <% if(RecommendaResult[0].RecommendCourse === "Introduction"){ %> <%# Output จาก Recommend มาเทียบ %> 
                                            <div class="col-6">
                                                <button onclick="window.location.href='/course-Introduction'" type="button" class="btn btn-outline-dark btn-sm btn-block mb-2"> <i class="fa fa-paper-plane" style="font-size:16px"></i></button>
                                            </div>
                                        <% }else if(RecommendaResult[0].RecommendCourse === "String"){ %>
                                            <div class="col-6">
                                                <button onclick="window.location.href='/course-String'" type="button" class="btn btn-outline-dark btn-sm btn-block mb-2"> <i class="fa fa-paper-plane" style="font-size:16px"></i></button>
                                            </div>
                                        <% }else if(RecommendaResult[0].RecommendCourse === "Datatype"){ %>
                                            <div class="col-6">
                                                <button onclick="window.location.href='/course-Datatype'" type="button" class="btn btn-outline-dark btn-sm btn-block mb-2"> <i class="fa fa-paper-plane" style="font-size:16px"></i></button>
                                            </div>
                                        <% }else if(RecommendaResult[0].RecommendCourse === "Operators"){ %>
                                            <div class="col-6">
                                                <button onclick="window.location.href='/course-Operators'" type="button" class="btn btn-outline-dark btn-sm btn-block mb-2"> <i class="fa fa-paper-plane" style="font-size:16px"></i></button>
                                            </div>
                                        <% }else if(RecommendaResult[0].RecommendCourse === "Flow Control"){ %>
                                            <div class="col-6">
                                                <button onclick="window.location.href='/course-Flow_Control'" type="button" class="btn btn-outline-dark btn-sm btn-block mb-2"> <i class="fa fa-paper-plane" style="font-size:16px"></i></button>
                                            </div>
                                        <% }else if(RecommendaResult[0].RecommendCourse === "Pointers"){ %>
                                            <div class="col-6">
                                                <button onclick="window.location.href='/course-Pointers'" type="button" class="btn btn-outline-dark btn-sm btn-block mb-2"> <i class="fa fa-paper-plane" style="font-size:16px"></i></button>
                                            </div>
                                        <% }else if(RecommendaResult[0].RecommendCourse === "Function"){ %>
                                            <div class="col-6">
                                                <button onclick="window.location.href='/course-Function'" type="button" class="btn btn-outline-dark btn-sm btn-block mb-2"> <i class="fa fa-paper-plane" style="font-size:16px"></i></button>
                                            </div>
                                        <% }else if(RecommendaResult[0].RecommendCourse === "Structure"){ %>
                                            <div class="col-6">
                                                <button onclick="window.location.href='/course-Structure'" type="button" class="btn btn-outline-dark btn-sm btn-block mb-2"> <i class="fa fa-paper-plane" style="font-size:16px"></i></button>
                                            </div>
                                        <% }else if(RecommendaResult[0].RecommendCourse === "Array"){ %>
                                            <div class="col-6">
                                                <button onclick="window.location.href='/course-Array'" type="button" class="btn btn-outline-dark btn-sm btn-block mb-2"> <i class="fa fa-paper-plane" style="font-size:16px"></i></button>
                                            </div>
                                        <% } else{ %>  <%# ถ้าไม่มีการแนะนำ คือ เรียนตาม path ที่เลือกเรียบร้อยแล้ว%> 
                                            <h6>Finished</h6>
                                            <div class="w-100"></div>
                                            <div class="col-6">Next</div>
                                            
                                        <% } %>
    
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-outline-dark btn-sm btn-block " data-bs-toggle="modal" data-bs-target="#RecommendSetting"><i class="fa fa-flag" style="font-size: 16px;;align-items: center;" ></i></button>
                                        </div>
                                    </div>
                                <% } %>
                                

                            <% } else{ %>  
                                <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#RecommendSetting">
                                    <i class="fa fa-flag" style="font-size: 20px;;align-items: center;" ></i><b> Choose</b>
                                </button>
                             <% } %>  
                            
                        </div>	
                </thead>
            </div>
        </div>
    </main>

<!-- MID -->
    <div class="content">
        <div id = "content" class="container">
            <h1 id = 'content'><svg height="40" width="40" viewBox="0 0 576 512">
                <path d="M352.4 243.8l-49.83 99.5c-6.009 12-23.41 11.62-28.92-.625L216.7 216.3l-30.05 71.75L88.55 288l176.4 182.2c12.66 13.07 33.36 13.07 46.03 0l176.4-182.2l-112.1 .0052L352.4 243.8zM495.2 62.86c-54.36-46.98-137.5-38.5-187.5 13.06L288 96.25L268.3 75.92C218.3 24.36 135.2 15.88 80.81 62.86C23.37 112.5 16.84 197.6 60.18 256h105l35.93-86.25c5.508-12.88 23.66-13.12 29.54-.375l58.21 129.4l49.07-98c5.884-11.75 22.78-11.75 28.67 0l27.67 55.25h121.5C559.2 197.6 552.6 112.5 495.2 62.86z"/>
            </svg> Skills </h1>   
            <div class="box bg-light  mb-5 shadow" >
                <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0" style="width: 100%;">
                    
                    <div class="row mb-3 ">
                        <h5 for="inputEmail3" class="col-sm-2 col-form-label">Basic</h5>
                        <div class="col-sm-10 " style="top:10px">
                            <progress  max="100" value=<%= BasicPercent %>  class="html5 "></progress>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <h5 for="inputEmail3" class="col-sm-2 col-form-label">Tracing</h5>
                         <div class="col-sm-10 " style="top:10px">
                          <progress  max="100" value=<%= TracePercent %>  class="html5 "></progress>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <h5 for="inputEmail3" class="col-sm-2 col-form-label">Explaining</h5>
                         <div class="col-sm-10 " style="top:10px">
                          <progress  max="100" value=<%= ExplainPercent, %>   class="html5 "></progress>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <h5 for="inputEmail3" class="col-sm-2 col-form-label">Writing</h5>
                         <div class="col-sm-10 " style="top:10px">
                          <progress  max="100" value=<%= WritePercent %>  class="html5 "></progress>
                        </div>
                    </div>
                                        
                </div>
            </div>
        </div>


        <div id = "content" class="container">
            <h1 id = 'content'><svg height="30" width="40" viewBox="0 0 384 512">
                <path d="M112.1 454.3c0 6.297 1.816 12.44 5.284 17.69l17.14 25.69c5.25 7.875 17.17 14.28 26.64 14.28h61.67c9.438 0 21.36-6.401 26.61-14.28l17.08-25.68c2.938-4.438 5.348-12.37 5.348-17.7L272 415.1h-160L112.1 454.3zM192 0C90.02 .3203 16 82.97 16 175.1c0 44.38 16.44 84.84 43.56 115.8c16.53 18.84 42.34 58.23 52.22 91.45c.0313 .25 .0938 .5166 .125 .7823h160.2c.0313-.2656 .0938-.5166 .125-.7823c9.875-33.22 35.69-72.61 52.22-91.45C351.6 260.8 368 220.4 368 175.1C368 78.8 289.2 .0039 192 0zM288.4 260.1c-15.66 17.85-35.04 46.3-49.05 75.89h-94.61c-14.01-29.59-33.39-58.04-49.04-75.88C75.24 236.8 64 206.1 64 175.1C64 113.3 112.1 48.25 191.1 48C262.6 48 320 105.4 320 175.1C320 206.1 308.8 236.8 288.4 260.1zM176 80C131.9 80 96 115.9 96 160c0 8.844 7.156 16 16 16S128 168.8 128 160c0-26.47 21.53-48 48-48c8.844 0 16-7.148 16-15.99S184.8 80 176 80z"/>
            </svg> Project Unlock  </h1>
            <div class="box bg-light  mb-5 shadow" >
                <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0" style="width: 100%;">
                   
                    <div class="row">
                        <div class="col">
                            <div class="card-body">
                                <h5 class="card-title">TicTacToe </h5>
                                <div class="pie animate" style="--p:<%= TicTacToePercent %> ;--c:#6c757d"> <%= TicTacToePercent %>%</div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <h5 class="card-title">Library System</h5>
                                <div class="pie animate" style="--p:<%= Library_SystemPercent %>;--c:#6c757d"> <%= Library_SystemPercent %>%</div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <h5 class="card-title">Roshambo</h5> 
                                <div class="pie animate" style="--p:<%=RoshamboPercent %>;--c:#6c757d"> <%=RoshamboPercent %>%</div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <h5 class="card-title">Calculator</h5>
                                <div class="pie animate" style="--p:<%=CalendarPercent %>;--c:#6c757d"> <%=CalendarPercent %>%</div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <h5 class="card-title">Calendar</h5>
                                <div class="pie animate" style="--p:<%=CalculatorPercent %>;--c:#6c757d"> <%=CalculatorPercent %>%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Recommendation -->

            <% if (Object.keys(RecommendaResult).length !== 0 && RecommendaResult[0].RecommendCourse != "null"  ) { %>
                <%- include('../student/layouts/recommendation') %>
            <% } else { %>

            <% } %>
            
          
            
        </div>
    </div>
    


    <!-- Modal -->
    <div class="modal fade" id="Classjoin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Class Join</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="/joinclass" method="post" autocomplete="off">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="classCode" class="form-label"><b>Class Token</b></label>
                        <input type="text" class="form-control" id="classCode" name="classToken" placeholder="Token สำหรับเข้าชั้นเรียน">
                        <div  class="form-text">**สามารถรับโค้ดจากอาจารย์ผู้สอน</div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>       

        </div>
        </div>
    </div>

    <!-- Recommendation -->
    <div class="modal fade" id="RecommendSetting" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Recommendation Setting</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/Recommendation_setting" method="post" autocomplete="off">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <b>เส้นทางตาม Course ที่ทำ</b>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="RecommendationSetting" id="course-Path" value="Fastest Path">
                                    <label class="form-check-label" for="course-Path">
                                    หาเส้นทางที่เร็วที่สุด
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <b>เส้นทางตาม Project ที่ต้องการ</b>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="RecommendationSetting" id="Tic-Path" value="TicTacToe">
                                    <label class="form-check-label" for="Tic-Path">
                                    TicTacToe
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="RecommendationSetting" id="Lib-Path" value="Library">
                                    <label class="form-check-label" for="Lib-Path">
                                    Library System
                                    </label>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="RecommendationSetting" id="Ros-Path" value="Roshambo">
                                    <label class="form-check-label" for="Ros-Path">
                                    Roshambo
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="RecommendationSetting" id="Cal-Path" value="Calendar">
                                    <label class="form-check-label" for="Cal-Path">
                                    Calendar
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="RecommendationSetting" id="Calc-Path" value="Calculator">
                                    <label class="form-check-label" for="Calc-Path">
                                    Calculator
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>       
    
          </div>
        </div>
    </div>


  

<%- include('../layouts/footer') %>